.polygon {
	position: absolute;
	top: 0;
	
	background-color: var(--orange-2);
	width: 100%;
	height: 3rem;

	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 30%);
}

.aboutSection {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--dark-purple);

	padding: 4rem 0;
	
	.aboutContent {
		flex: 1;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		// width: 60rem;

		.about__cols {
			display: flex;
			// align-items: center;
			justify-content: center;
			gap: 6rem;
		}

		.about__col {

			&:nth-child(1) {
				display: flex;
				flex-direction: column;
				justify-content: center;

				width: 18rem;
			}
			&:nth-child(2) { width: 22rem; }
			
			.about__imgContainer {
				position: relative;

				.about__img {
					border-radius: 1rem;
				}
			}

			.selfDescription {
				font-size: 1.12rem;
				color: var(--text-purple);
			}

			.highlights {
				display: flex;
				justify-content: space-between;

				margin-top: 3rem;

				.highlight {
					display: flex;
					flex-direction: column;
					align-items: center;

					text-align: center;

					color: white;

					width: 5rem;

					span:nth-child(1) {
						font-size: 1.5rem;
						font-weight: 500;
					}
					span:nth-child(2) {
						font-size: 0.9rem;
						font-weight: lighter;
						color: var(--text-purple);
					}
				}
			}
		}
	}
}

.downloadContainer {
	display: flex;
	
	.download {
		display: flex;
		align-items: center;
		gap: 0.4rem;
			
		background-color: var(--purple-2);
		color: var(--white);
		margin-top: 3rem;
		padding: 1rem;
		border-radius: 0.4rem;
	
		text-align: center;
	
		cursor: pointer;
		transition: all 0.2s;
	
		&:hover { opacity: 0.9; }
	
		svg {
			font-size: 1.2rem;
		}
	}
}

@media only screen and (max-height: 630px) {
	.aboutSection {
		padding-bottom: 2rem;
	}
    .polygon {
        position: relative !important;
        // top: inherit !important;
    }
}

@media only screen and (max-width: 780px) {
    .about__cols {
        gap: 3rem !important;
    }
}

@media only screen and (max-width: 740px) {
    .about__imgContainer {
        display: none;
        // width: 100%;
        // img {
		// 	position: relative;
        //     object-fit: cover;
        //     object-position: 100% 25%;
        //     width: 30rem;
        //     height: 5rem;
        //     border-radius: 0 !important;
        // }
    }
    .about__cols {
        flex-direction: column;
        align-items: center;
        gap: 0 !important;
        width: 100vw !important;
    }
    .about__col:nth-child(1) {
        width: 0 !important;
    }
    .about__col:nth-child(2) {
        text-align: justify !important;
    }
    .downloadContainer {
        justify-content: center;
    }
}
