// --- SECTION ---

.projectsSection {
    background-color: var(--sbg-projects);
}



// --- PROJECTS ---

.projectsContainer {
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects {
    --width: 24rem;
    --modal-image-width: 60svw;

    --cols: 3;

    --moreProjectsDisplay: none;

    display: grid;
    grid-template-columns: repeat(var(--cols), var(--width));
    grid-auto-rows: calc(var(--width) * 0.5416);
    gap: 1rem;

    &.projects__moreProjects {
        --moreProjectsDisplay: block;
    }
}
// Pega todos os elementos que vem depois de `.lastVisibleOne`
// .project.lastVisibleOne ~ * {
//     display: none;
// }

.viewMoreContainer {
    z-index: 1;

    display: flex;
    align-items: end;
    justify-content: center;

    // backgroundColor: 'red',
    background-image: linear-gradient(to bottom, transparent, var(--sbg-projects), var(--sbg-projects));
    width: 100%;
    height: 15rem;
    margin-top: -13rem;
    // border: 1px solid blue;

    button {
        display: block;
				
        background-color: var(--orange-2);
        color: var(--white);

        padding: 1rem 2rem;
        border: none;
        border-radius: 999rem;

        font-size: 1.2rem;

        cursor: pointer;
        transition: transform 0.2s;

        &:hover { transform: scale(1.06); }
    }
}



// --- MEDIAS ---

@media only screen and (max-width: 1310px) {
    .projects {
        --width: 22rem;
        --modal-image-width: 80svw;
    }
}
@media only screen and (max-width: 1220px) {
    .projects { --width: 20rem; }
}

@media only screen and (max-width: 1120px) {
    .projects {
        --cols: 2;
        --width: 26rem;
    }
}

@media only screen and (max-width: 980px) {
    .projects { --width: 20rem; }
}

@media only screen and (max-width: 700px) {
    .projects {
        --cols: 1;
        --width: 30rem;
    }
}

@media only screen and (max-width: 550px) {
    .projects { --width: 24rem; }
}

@media only screen and (max-width: 420px) {
    .projects { --width: 20rem; }
}