.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    padding: 1.2rem 3rem;
}

.infoGroup {
    width: 100%;

    text-align: justify;

    h2 {
        color: var(--orange-2);
        font-weight: 500;
    }

    ul { list-style-type: circle; }

    p, li {
        margin-bottom: 0.6rem;

        font-size: 1.4rem;

        span, a { color: var(--orange-2); }
        .technology { /*text-decoration: underline;*/ border-bottom: 1px solid }

        a { transition: color 0.2s; }
        a:hover { color: var(--orange-1); }
    }
}

@media only screen and (max-width: 500px)
{
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .infoGroup {
        ul {
            margin-left: 1rem;
        }
    }
}