:root {
	--gradient: linear-gradient(to bottom, black, var(--dark-purple), var(--orange-2));
	// --gradient: linear-gradient(to bottom, var(--orange-2), var(--orange-2), var(--purple-2));
	
	--green-1: #589C48; // May Green
	--green-2: #7BB662; // Bug Green

	--orange-1: #FBB149; // Pastel Orange
	--orange-2: #F58024; // Princeton Orange

	--purple-1: #994FB2; // Purpureus
	--purple-2: #733381; // Maximum purple
	--dark-purple: #25102a;
	--dark-purple-2: #301537;
	--dark-purple-3: #391942;

	--white: #eaeaea;
	--light: #f4d5be;

	--text-purple: rgb(206, 171, 206);

	--mainMenu-height: 4rem;

	// Session Backgrounds
	--sbg-projects: rgb(242, 242, 242); // var(--dark-purple);
	--sbg-contact: var(--dark-purple-2);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html {
	scroll-behavior: smooth;
}

html,
body {
	// background: var(--gradient) no-repeat center center fixed;
	// -webkit-background-size: cover;
	// -moz-background-size: cover;
	// -o-background-size: cover;
	// background-size: cover;
	
	background-color: var(--dark-purple);
	color: var(--white);

	min-height: 100svh;

	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	//overflow: hidden; /* Hide scrollbars */
	// overflow-x: hidden; /* Hide horizontal scrollbars */
}

a {
	color: inherit;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

.section {
	min-height: 100svh;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	// scroll-padding: 10rem;
}



// -- SCROLLBAR --
// width
::-webkit-scrollbar {
	width: 0.14rem;
}
// Track
::-webkit-scrollbar-track {
	// background: transparent;
	background-color: var(--dark-purple);
}
// Handle
::-webkit-scrollbar-thumb {
	background: var(--white);
}



// .ReactModal__Content {
//     opacity: 0;
//     transition: all 2000ms ease-in-out;
// }
// .ReactModal__Content--after-open{
//     opacity: 1;
// }
// .ReactModal__Content--before-close{
//     opacity: 0;
// }

// Remove elemento estranho de baixo do Carousel
.thumbs-wrapper.axis-vertical {
	display: none;
}



// -- ANIMATIONS --

$slideTranslate: 2rem;

.grow-init { transform: scale(0); }

.slide-init {
	transform: translateX($slideTranslate);
	opacity: 0;
}

@keyframes grow {
	from { transform: scale(0); }
	to { transform: scale(1); }
}

@keyframes slideright {
	from {
		transform: translateX($slideTranslate);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}