.container {
    //display: flex;

    /*
    padding: 2rem;

    h2 {
        color: var(--orange-2);

    }
    */
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 1rem;
}

.item {
    display: flex;

    min-width: 8rem;
    margin-top: 1rem;

    font-size: 1.0rem;

    .itemContent {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: rgba(255, 255, 255, 0.08);

        width: 7rem;

        padding: 1rem;
        border-radius: 1rem;

        img {
            width: 3.125rem;
        }
    
        span {
            display: block;
            margin-top: 0.2rem;
        }
    }
}