.container {
	flex: 1;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 4rem 8rem;

	.mainText {
		margin-right: 1rem;

		p {
			&.p1 { font-size: 4rem; }
	
			&.p2 { font-size: 3.2rem; }
	
			span { color: var(--orange-2); }
		}
	}

	.btnSobre {
		display: flex;

		a	{
			display: block;
		
			background-color: var(--orange-2);

			margin-top: 2rem;
			padding: 1rem 5rem;
			border-radius: 999rem;

			font-size: 1.2rem;

			cursor: pointer;
			transition: transform 0.2s;

			&:hover { transform: scale(1.06); }
		}
	}
}

.mainPic
{
	display: block;

	background-color: var(--orange-2);

	background-image: url('../../public/bruno2.png');
	background-size: cover;
	background-repeat: no-repeat;
  	background-position: 50% 50%;

	width: 20rem;
	height: 20rem;

	margin-bottom: 1rem;
	border-radius: 999rem;
}

@media only screen and (max-height: 600px)
{
	.container {
		padding: 0 8rem;
	}
}

@media only screen and (max-width: 960px)
{
	.container {
		justify-content: center;
		padding: 0 1rem;
	}
}

@media only screen and (max-width: 730px) {
	.container {
		flex-direction: column-reverse;
	}

	.mainText {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}