// @media only screen and (max-height: 600px)
// {
// 	.container {
// 		padding: 0 8rem;
// 	}
// }

// @media only screen and (max-width: 960px)
// {
// 	.container {
// 		justify-content: center;
// 		padding: 0 1rem;
// 	}
// }

// @media only screen and (max-width: 730px) {
// 	.container {
// 		flex-direction: column-reverse;
// 	}

// 	.mainText {
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 	}
// }



// --------------------------------------------------

// // SCROLLBAR
// // width
// .pageScroll::-webkit-scrollbar {
// 	width: 0.28rem;
// }
// // Track
// .pageScroll::-webkit-scrollbar-track {
// 	background: transparent;
// }
// // Handle
// .pageScroll::-webkit-scrollbar-thumb {
// 	background: var(--white);
// }

.page {
	position: relative;

	h1 {
		display: none;
	}
}
.pageScroll {
	position: relative;
	height: 100vh;
	scroll-behavior: smooth;
	overflow-y: auto;
	overflow-x: hidden;
	// scroll-snap-type: y mandatory;
}

.mainMenu {
	position: fixed;
	z-index: 99999;
	top: 0;
	bottom: 1rem;
	left: 1rem;

	display: flex;
	align-items: flex-end;

	&.darkMenu ul a {
		color: black;
		span { font-weight: normal; }
	}

	ul {
		list-style: none;

		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-direction: column;
		height: 100%;
		// gap: 0.2rem;
	}

	li {
		a {
			position: relative;

			display: flex;
			align-items: center;
			justify-content: center;

			// background-color: rgba(255, 255, 255, 0.9);
			// filter: invert(100%);
			// color: var(--dark-purple);

			width: 3rem;
			height: 3rem;
			border-radius: 99rem;

			transition: color 0.2s;
			// color: invert(1);

			// color: rgba(255, 255, 255, 0.5);
			// filter: invert(1);

			// color: #333;
			// isolation: isolate;
			// mix-blend-mode: difference;

			// text-rendering: optimizeLegibility;
			// -webkit-font-smoothing: antialiased;

			// &:hover {
			// 	width: auto;
			// }
			// &:hover span {
			// 	display: block;
			// } 

			// background: inherit;
			// background-clip: text;
			// -webkit-background-clip: text;
			// color: transparent;
			// filter: invert(1) grayscale(1);
			// -webkit-filter: invert(1) grayscale(1);

			// filter: invert(1);
			// mix-blend-mode: difference;

			&:hover::after {
				width: 100%;
				height: 100%;
			}

			&::after {
				content: "";
				position: absolute; // ! Tenta comentar isso procê vê
				background-color: rgba(255, 255, 255, 0.2);
				width: 0;
				height: 0;
				border-radius: 99rem;
				transition: all 0.2s;
			}
			&:hover span {
				opacity: 1;
				display: block;
			}

			svg {
				z-index: 1;
				font-size: 1.4rem;
			}

			span {
				position: absolute;
				left: 100%;

				display: none;

				width: 6rem;
				padding-left: 0.4rem;
				opacity: 0;
				transition: all 0.1s;
				font-weight: lighter;
			}
		}
	}
}

.projectsSection {
	.projectImg {
		width: 10rem;
		height: auto;
	}
}

// .abilitiesSection {
// 	--d: 100s;

// 	background-color: var(--orange-2);

// 	.tecnologies {
// 		display: flex;
// 		gap: 0.4rem;
// 		list-style: none;
// 		// animation: loop 8s linear infinite;
// 		// background-color: red;
// 	}
// }

@media only screen and (max-width: 845px) { // ! Mudar também padding-bottom da @media de Contact.module.scss
	.mainMenu {
		left: 0;
		right: 0;
		// top: 0;
		// bottom: auto;
		top: auto;
		bottom: 0;

		// background-color: rgba(7, 0, 9, 0.98);
		height: var(--mainMenu-height);
		backdrop-filter: blur(8px);
		// border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		border-top: 1px solid rgba(255, 255, 255, 0.2);

		ul {
			flex-direction: row;
			justify-content: center;
			width: 100%;

			a {
				span {
					top: 100%;
					left: auto;
					text-align: center;
				}

				&:hover span {
					display: none !important;
				}
			}
		}
	}
}

// @media only screen and (max-height: 330px) {
// 	.pageScroll {
// 		margin-bottom: $menuHeight !important;
// 	}
// }