.container {
    padding: 0 0.6rem;
}

.item {
    position: relative;

    border-left:  1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover span { opacity: 1; }

    span {
        display: block;

        color: var(--white);

        width: 100%;

        text-align: center;
        font-size: 1.4rem;
    }

    .title {
        position: absolute;
        z-index: 1;

        background-color: rgba(0, 0, 0, 0.16);

        padding: 1.4rem;

        opacity: 0;
        transition: opacity 0.2s;
    }

    .mobileTitle {
        background-color: rgba(0, 0, 0, 0.16);

        padding: 0.4rem;
    }
}

@media only screen and (max-width: 900px)
{
    .item {
        .title { padding: 0.4rem; }
    }
}