.container {
    padding: 0 0.6rem;
}

.item {
    position: relative;

    //border-left:  1px solid rgba(0, 0, 0, 0.1);
    //border-right: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
        .desktopTitle { opacity: 1; }
        .tecnologies { opacity: 1; }
    }

    // Title
    .title {
        display: block;

        background-color: rgba(0, 0, 0, 0.3);
        color: var(--white);

        width: 100%;
        padding: 0.4rem;

        text-align: center;
        font-size: 1.4rem;
    }

    .desktopTitle {
        position: absolute;
        z-index: 1;

        padding: 1.4rem;

        opacity: 0;
        transition: opacity 0.2s;
    }

    // Tecnologies
    .tecnologies {
        display: flex;
        gap: 0.4rem;

        margin-top: 0.2rem;

        .tecnology {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: space-around;

            background-color: rgba(0, 0, 0, 0.4);

            padding: 1rem;
            border-radius: 999rem;
        }
    }

    .desktopTecnologies {
        position: absolute;
        z-index: 1;
        bottom: 0;

        margin-top: 0;
        padding: 1rem;

        opacity: 0;
        transition: opacity 0.2s;

        .tecnology
        {
            &:hover span {
                opacity: 1;
            }

            span {
                position: absolute;
                top: -1.4rem;

                opacity: 0;

                transition: opacity 0.2s;
            }
        }
    }
}

@media only screen and (max-width: 900px)
{
    .item {
        .title { padding: 0.4rem; }
    }
}