.container {
    padding: 0 0.6rem;
}

.item {
    position: relative;

    cursor: pointer;

    &:hover span { opacity: 1; }

    span {
        display: block;

        color: var(--white);

        width: 100%;
        padding: 1.4rem;

        text-align: center;
        font-size: 1.4rem;
    }

    .title {
        position: absolute;
        z-index: 1;

        background-color: rgba(0, 0, 0, 0.16);

        opacity: 0;
        transition: opacity 0.2s;
    }

    .mobileTitle {
        background-color: rgba(0, 0, 0, 0.16);
        border-radius: 1rem 1rem 0 0;
    }
}

@media only screen and (max-width: 900px)
{
    .item {
        span { padding: 0.4rem; }
    }
}