.text {
    display: flex;
    align-items: center;
}

.cursor {
    display: block;
    background-color: currentColor;
    width: 0.2rem;
    // height: 1rem;
    margin-left: 0.1rem;
    animation: blink 1.2s steps(1) infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}