.container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    min-height: 100vh;

    //padding-bottom: 2rem;

    h1 {
        display: none;
    }

    .mainMenu {
        display: flex;
        flex-direction: row-reverse;

        margin-bottom: 1rem;

        ul {
            list-style: none;

            display: flex;
            align-items: center;
            flex-wrap: wrap;

            display: flex;

            margin-top: 0.6rem;
            margin-right: 1rem;

            li.currentPage a {
                color: var(--orange-2);
            }

            a {
                display: block;
                padding: 0.6rem 1rem;

                font-size: 1.3rem;

                transition: color 0.2s;
                cursor: pointer;

                &:hover {
                    color: var(--orange-2);

                    &::after {
                        width: 100%;
                    }
                }

                &::after {
                    content: '';

                    display: block;

                    background-color: var(--orange-2);
                    //background-image: linear-gradient(to right, transparent, var(--orange-2), transparent);

                    width: 0;
                    height: 0.06rem;
                    margin: 0 auto;

                    margin-top: 0.1rem;

                    transition: width 0.2s;
                }
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.1);

    padding-bottom: 2rem;

    width: 66rem;
    min-height: 36rem;

    border-radius: 1rem;
    box-shadow: 0 0 4px 1px rgb(0, 0, 0, 0.1);
}

@media screen and (max-height: 600px)
{
    .container {
        align-items: unset;
    }

    .content {
        height: auto;
        border-radius: 0;
    }
}

@media only screen and (max-width: 1110px)
{
    .content {
        width: 100%;
        border-radius: 0;
    }
}

@media only screen and (max-width: 730px) {
    .container {
        align-items: unset;
    }

    .mainMenu {
        justify-content: center;

        ul {
            justify-content: center;
        }
    }

    .content {
        height: 100%;
        min-height: 100vh;

        text-align: center;
    }
}