.contactsSection {
	--wave-height: 40px;
	
	position: relative;
	overflow: hidden;

	display: flex;
	// flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--sbg-contact);

	.contactsContent {
		z-index: 9999;
		overflow: visible;
	}

	.waveContainer {
		z-index: 999;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	.wave {
		display: block;
		position: relative;
		height: var(--wave-height);
		width: 100%;
		background: var(--sbg-projects);
		transform: scale(1, 1);
	}
		
	.wave:before {
		content: "";
		display: block;
		position: absolute;
		border-radius: 100%;
		width: 100%;
		height: 300px;
		background-color: var(--sbg-contact);
		right: -25%;
		top: 20px;
	}
		
	.wave:after {
		content: "";
		display: block;
		position: absolute;
		border-radius: 100%;
		width: 100%;
		height: 300px;
		background-color: var(--sbg-projects);
		left: -25%;
		top: -240px;
		clip-path: ellipse(100% 15% at -15% 100%);
	}

	.contacts__cols {
		display: flex;
		gap: 6rem;
	}

	.contacts__links {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.4rem;
	}

	.contacts__contacts {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;

		div {
			display: flex;
			align-items: center;
			gap: 0.4rem;

			svg {
				font-size: 1.6rem;
			}

			span {
				font-size: 1.2rem;
			}
		}
	}

	.contactLink {
		display: flex;
		align-items: center;
		gap: 0.6rem;

		// padding: 0.4rem 2rem 0.4rem 0.6rem;
		width: 18rem;
		height: 4.4rem;
		padding: 0 0 0 0.6rem;
		border-radius: 99rem;
		transition: all 0.2s;

		&:hover {
			opacity: 0.9 !important;
		}

		span {
			font-size: 1.2rem;
		}
	}
}

// HEIGHT

@media only screen and (max-height: 460px) {
	.sectionTitle {
		margin-bottom: 2rem;
	}
}

// @media only screen and (max-height: 430px) {
// 	.contactsContent {
// 		margin-top: calc(var(--wave-height) + 1rem);
// 		padding-bottom: 2rem;
// 	}
// }

// WIDTH

@media only screen and (max-width: 845px) {
    .contacts__cols {
        gap: 2rem !important;
    }
	// ! Alterado por @media de Index.module.scss
	.contactsSection {
		padding-bottom: var(--mainMenu-height);
	}
}

@media only screen and (max-width: 720px) {
    .contactsContent {
        width: 100%;
		margin-top: calc(var(--wave-height) + 1rem);
		padding-bottom: 2rem;
    }
    .contacts__cols {
        flex-direction: column;
        width: 100%;
    }
    .contacts__contacts div {
        justify-content: center;
    }
}

@media only screen and (max-width: 380px) {
    .contacts__contacts span {
        font-size: 1rem !important;
    }
}